/* h1 {
      background-color: cadetblue;
} */


.firstH1 {
    background-color: aquamarine;
}


#firstId {
    background-color: pink;
}

.firstPara{
    background-color: brown;
    color: white;
}


.secondPara{
    background-color: cornflowerblue;
}