* {
    margin: 0;
    padding: 0;
}



.parent {
    width: 100%;
    height: 100vh;
    background-color: brown;
}


.child {
    width: 70%;
    height: 70%;
    background-color: cadetblue;
}

.child2 {
    width: 70%;
    height: 200px;
    background-color: darkcyan;
}



.child3 {
    width: 200px;
    height: 200px;
    background-color: rgb(1, 175, 111);
    margin: 50px;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.3s linear;
}


.child3:hover {
    background-color: blueviolet;
    /* transform: translateX(-20%);
    transform: translateY(-20%); */
    transform: scale(1.1);
}