*{
    margin: 0;
    padding: 0;
}


.parent{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.parent2{
    width: 100%;
    height: 100vh;
    background-color: rgb(46, 184, 219);
    position: relative;
}

.child{
    width: 400px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 5px;
}