*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}