* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 2px solid black;
    width: 90%;
}





.main {
    width: 100%;
    height: 87vh;
    display: flex;
}


.leftSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.content h1 {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.content p {
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content button {
    width: 160px;
    background-color: transparent;
    height: 48px;
    border: 1px solid rgb(85, 225, 25);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
    font-size: 18px;
}


.content button:hover {
    transform: translateY(-10%);
    background-color: rgb(85, 225, 25);

}

.rightSide {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rightSide img {
    width: 50%;
    height: 55%;
    border-radius: 50%;
    transition: all 0.3s linear;

}


.rightSide img:hover {
    transform: translateY(-10%);
    box-shadow: rgba(85, 225, 25, 0.25) 0px 54px 55px, rgba(85, 225, 25, 0.12) 0px -12px 30px, rgba(85, 225, 25, 0.12) 0px 4px 6px, rgba(85, 225, 25, 0.17) 0px 12px 13px, rgba(85, 225, 25, 0.09) 0px -3px 5px;

}