* {
    margin: 0;
    padding: 0;
}



.main {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
}


aside {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: 1px solid black;
}



.logo-div {
    width: 80%;
    height: 18%;
    display: flex;
    align-items: center;

}


.logo-div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.links {
    width: 80%;
    height: 70%;
}

.links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.links ul li{
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s linear;
}

.links ul li:hover{
    background-color: #ddd;
}   

.links ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}