@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    margin-top: 15px;
}

nav h3 {
    display: inline-block;
    margin: 12px;
    font-size: 22px;
    /* width: 120px; */
    /* background-color: aqua; */
    /* height: 40px; */
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: all 0.4s linear;
}


nav h3 a {
    color: black;
    font-family: "Google Sans Code", monospace;
    text-decoration: none;
}

nav h3:hover {
    transform: translateY(-8%);
    /* transform: scale(1.1); */
    /* border: 1px solid black; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}