a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}

h1 {
    background-color: brown;
    color: white;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

p{
    line-height: 22px;
    text-decoration: underline;
}